.graphs-content {
    background: linear-gradient(180deg, #d3e2f2 0%, #4173a8 100%);

}

.menu-select-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.menu-select-container .season,
.menu-select-container .stats {
    position: relative;
}

.menu-select-container .label-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-select-container label {
    font-size: 14px;
    font-weight: 400;
}

.menu-select-container .arrow {
    font-size: 18px;
}

.menu-select-container .menu-select {
    background: transparent;
}

.menu-select-container .menu-select-items {
    font-size: 14px;
}

.line-graph-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-graph-container .line-graph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-graph-container .line-graph .stat-name {
    font-size: 20px;
    margin-top: 20px;
}