.button-container {
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 3px solid #4fc4e7;
    border-radius: 30px;
    cursor: pointer;
}

.button-container .checkbox {
    display: none;
}

.button-container .slide-button {
    width: 45px;
    height: 45px;
    background: linear-gradient(45deg, #c3ac81 0%, #a85117 45%, #ff2200 100%);

    position: absolute;
    right: 2px;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.button-container .slide-button.actived {
    transform: translateX(-181px);
}