.home-container {
    position: relative;
    z-index: 1;
}

.home-container.switch-behind {
    z-index: -1;
}

.home-container h1 {
    font-family: "Libre Baskerville";
    font-weight: 700;
    font-style: normal;
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(45deg, #c3ac81 0%, #a85117 45%, #ff2200 100%);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-size: 45px;
    z-index: 1;
}

.home-container .disappears {
    animation: anim 0.5s ease forwards;
}

@keyframes anim {
    0% {}

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}

.background-home {
    background: transparent;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.background-home .left-side {
    position: absolute;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(25, 30, 45);
    transition: 1s ease-in-out;
}

.background-home .left-side.left-translate {
    transform: translateX(-100%);
}

.background-home .right-side {
    position: absolute;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgb(25, 30, 45);
    transition: 1s ease-in-out;
}

.background-home .right-side.right-translate {
    transform: translateX(100%);
}