.main-stats {
    background: #c5d5e6;
    width: calc(100vw - 200px);
    height: 100vh;
    overflow-y: scroll;
}

.main-stats h2 {
    font-size: 20px;
    text-align: center;
    margin: 30px 0 20px;
}

.main-stats .table-container table {
    width: 90%;
}

.main-stats .table-container table tbody tr td {
    font-size: 15px;
}

.main-stats .table-container table tbody tr td:first-child {
    display: flex;
    align-items: center;
    padding-left: 30px;
    text-align: center;
}

.main-stats .table-container table tbody tr td:nth-child(2) {
    cursor: default;
}

.main-stats .table-container table tbody tr td img {
    width: 35px;
    margin-right: 10px;
}