.search-form-container {
    background: linear-gradient(45deg, #c3ac81 0%, #a85117 45%, #c3ac81 100%);
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-form-container .stars-left,
.stars-right {
    display: flex;
}

.search-form-container .star-logo {
    width: 100px;
}

.search-form-container form {
    display: flex;
    width: 60%;
    padding: 10px 0;
    border-radius: 40px;
}

.search-form-container form .input-search {
    width: 70%;
    height: 45px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    box-shadow: 0px 3px 5px rgb(25, 30, 45);
    outline: none;
    border: 1px solid rgb(25, 30, 45);
}

.search-form-container form .input-search:focus {
    box-shadow: 0px 4px 5px #175da8;
    border: none;
}

.search-form-container form .input-submit {
    background: rgb(25, 30, 45);
    min-width: 55px;
    width: 30%;
    height: 45px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    box-sizing: content-box;
    color: white;
    font-size: 15px;
    box-shadow: 0px 1px 5px white;
    cursor: pointer;
    border: none;
    transition: 0.5s ease;
}

.search-form-container form .input-submit:hover {
    background: white;
    color: rgb(25, 30, 45);
    box-shadow: 0px 4px 5px #175da8;

}

.search-form-container form .input-submit:active {
    background: rgb(25, 30, 45);
    color: white;
    box-shadow: 0px 1px 5px white;

}

@media screen and (max-width: 1140px) {
    .search-form-container {

        .stars-left :first-child,
        .stars-right :last-child {
            display: none;
        }
    }
}

@media screen and (max-width: 925px) {
    .search-form-container {

        .stars-left :first-child,
        .stars-left :nth-child(2),
        .stars-right :last-child,
        .stars-right :nth-child(2) {
            display: none;
        }
    }
}

@media screen and (max-width: 720px) {
    .search-form-container {
        margin-top: 50px;
    }

    .search-form-container .star-logo {
        width: 85px;
    }

    .search-form-container form .input-search {
        height: 40px;
    }

    .search-form-container form .input-submit {
        height: 40px;
    }
}

@media screen and (max-width: 500px) {
    .search-form-container .star-logo {
        width: 70px;
    }

    .search-form-container form .input-search {
        width: 60%;
        height: 35px;
    }

    .search-form-container form .input-search:focus {
        box-shadow: 0px 2px 4px #175da8;
    }

    .search-form-container form .input-submit {
        height: 35px;
        font-size: 13px;
        box-shadow: 0px 2px 2px rgb(25, 30, 45);
    }
}

@media screen and (max-width: 470px) {
    .search-form-container .star-logo {
        width: 55px;
    }

    .search-form-container form .input-search {
        width: 80%;
        height: 30px;
    }

    .search-form-container form .input-search::placeholder {
        font-size: 11px;
    }

    .search-form-container form .input-submit {
        height: 30px;
        font-size: 12px;
        border-radius: 30px;
    }
}

@media screen and (max-width: 470px) {
    .search-form-container .star-logo {
        width: 80px;
    }

    .search-form-container {
        padding: 10px 0;
    }

    .search-form-container form {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .search-form-container form .input-search {
        margin-bottom: 10px;
    }

    .search-form-container form .input-submit {
        height: 25px;
        font-size: 11px;
        box-shadow: 0px 0px 2px rgb(25, 30, 45);
    }
}