.banner-skeleton-container {
    display: flex;
    height: 170px;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem;
    background-color: #d1d5db;
    animation: pulse 1.7s infinite;

}

.banner-skeleton-container .svg-container {
    position: relative;
    height: 5rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-skeleton-container .svg-container .svg {
    width: 25%;
    height: 100%;
    color: #a97f63;
}

.banner-skeleton-container .svg-container .text-left-container p:first-child {
    width: 200px;
    height: 25px;
    background: #a97f63;
    border-radius: 15px;
}

.banner-skeleton-container .svg-container .text-left-container p:nth-child(2) {
    width: 100px;
    height: 20px;
    background: #a97f63;
    border-radius: 10px;
}

.banner-skeleton-container .skeleton-button {
    background: #a97f63;
    width: 7rem;
    height: 40px;
    margin-top: 10px;
    border-radius: 20px;
}

.banner-skeleton-container .text-right-container {
    margin-right: 50px;
}

.banner-skeleton-container .text-right-container p:first-child {
    background: #a97f63;
    width: 120px;
    height: 15px;
    border-radius: 15px;

}

.banner-skeleton-container .text-right-container p:nth-child(2) {
    background: #a97f63;
    width: 70px;
    height: 25px;
    border-radius: 15px;
    margin: 0 auto;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }
}

@media screen and (max-width: 1130px) {
    .banner-skeleton-container .svg-container {
        width: 35%;
    }

    .banner-skeleton-container .text-right-container {
        display: none;
    }

    .banner-skeleton-container .skeleton-button {
        left: 80%;
    }
}

@media screen and (max-width: 720px) {
    .banner-skeleton-container .svg-container {
        width: 40%;
    }

    .banner-skeleton-container .svg-container .text-left-container p:first-child {
        width: 120px;
        height: 20px;
    }

    .banner-skeleton-container .svg-container .text-left-container p:nth-child(2) {
        width: 70px;
        height: 15px;
    }

    .banner-skeleton-container .skeleton-button {
        height: 35px;
    }
}

@media screen and (max-width: 600px) {
    .banner-skeleton-container {
        flex-direction: column;
    }

    .banner-skeleton-container .skeleton-button {
        width: 6rem;
        height: 35px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .banner-skeleton-container .svg-container {
        width: 50%;
    }
}

@media screen and (max-width: 345px) {
    .banner-skeleton-container .svg-container .text-left-container p:first-child {
        width: 90px;
        height: 15px;
    }

    .banner-skeleton-container .svg-container .text-left-container p:nth-child(2) {
        width: 60px;
        height: 10px;
    }
}