.main-team-stats .table-container {
    width: 100%;
    margin: 20px auto;
}

.main-team-stats .main-team-stats-container .table-container {
    height: calc(100vh - 250px);
    overflow-y: auto;
    background: transparent;
}

.main-team-stats .main-team-stats-container .table-container table tbody tr td:first-child {
    cursor: default;
}

.main-team-stats .main-team-stats-container .table-container table tbody tr td span {
    font-size: 16px;
    margin-right: 10px;
}

.main-team-stats .main-team-stats-container .table-container table tbody tr img {
    height: 40px;
    margin-right: 5px;
}

.main-team-stats .main-team-stats-container .table-container table tbody tr td:nth-child(2) .team-home,
.team-visitor {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1130px) {
    .main-team-stats .main-team-stats-container .table-container table thead tr th:last-child {
        display: none;

    }

    .main-team-stats .main-team-stats-container .table-container table tbody tr td:last-child {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .main-team-stats .main-team-stats-container .table-container table {
        width: 95%;
        transform: translate(0px);
    }
}

@media screen and (max-width: 500px) {
    .main-team-stats .main-team-stats-container .table-container table {
        width: 98%;
    }

    .main-team-stats .main-team-stats-container .table-container table tbody tr td span {
        font-size: 14px;
        margin-right: 7px;
    }

    .main-team-stats .main-team-stats-container .table-container table tbody tr img {
        height: 35px;
    }
}

@media screen and (max-width: 375px) {
    .main-team-stats .main-team-stats-container .table-container table tbody tr td span {
        font-size: 12px;
        margin-right: 8px;
    }

    .main-team-stats .main-team-stats-container .table-container table tbody tr img {
        height: 30px;
    }
}