.statistics-container {
    height: calc(100vh - 250px);
    margin-top: 20px;
    overflow: scroll;
}

.statistics-container .graphs {
    display: flex;
    height: 350px;
}

.statistics-container .graphs .circle-graph-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.circle-graph-container p {
    margin-top: 30px;
}

.circle-graph-container p .win {
    color: #44a672;
}

.circle-graph-container p .lose {
    color: #d26f64;
}

.statistics-container .graphs .line-graph-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-container .graphs .line-graph-container .line-graph-points {
    width: 90%;
}

.statistics-container .graphs .line-graph-container p {
    margin: 0;
}

.statistics-container .statistics-table-container {
    height: 800px;
}