.sidebar {
    background-color: rgb(25, 30, 45);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
}

.sidebar .logo {
    color: white;
    font-size: 60px;
}

.sideBar-list {
    width: 100%;
    height: 50%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
}

.sideBar-list li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.4s;
}

.sideBar-list li:hover {
    background-color: #d3e2f2;
    color: rgb(21, 20, 20);
    transform: scale(1.1);
}

.sideBar-list li .icon {
    font-size: 26px;
    margin-right: 10px;
}