.games-container {
    /* background: url("../../images/nba_logo.svg") no-repeat center/cover; */
    background-color: #c5d5e6;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.games-container .games-button-cursor {
    top: 303px;
}

.games-container .main-games {
    position: absolute;
    top: 65px;
    left: 200px;
    width: calc(100vw - 200px);
    height: calc(100vh - 65px);
    overflow: scroll;
}

.games-container .main-games .all-games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-container .main-games .all-games-container .list-games-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 40px 0;
}

.all-games-container .list-games-container .preview-game-card {
    background: rgb(25, 30, 45);
    height: 170px;
    border: 1px solid #2667ac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    color: white;
    padding: 0 15px;
}

.list-games-container .preview-game-card .logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-games-container .preview-game-card .logo-name .image {
    width: 70px;
}

.list-games-container .preview-game-card .game-status {
    font-size: 14px;
    text-align: center;

}

/* /------------------------------------------------------ */
.list-games-container .game-card {
    background: linear-gradient(180deg, #e6a4a4 0%, #dd3737 100%);
    min-width: 295px;
    max-width: 400px;
    height: 170px;
    border-radius: 7px;
    border: 1px solid #2667ac;
    transition: 0.1s;
    cursor: pointer;
}

.list-games-container .game-card:hover {
    transform: scale(1.02);
}

.list-games-container .game-card {
    background: linear-gradient(180deg, #a7a9a7 0%, #606d62 100%);
}

.list-games-container .game-card .date {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    margin-top: 5px;
}

.list-games-container .game-card .teams-infos-container {
    display: flex;
    align-items: center;
}

.list-games-container .game-card .teams-infos-container .team-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-games-container .game-card .teams-infos-container .team-infos .logo {
    width: 80px;
}

.list-games-container .game-card .teams-infos-container .team-infos .abbreviation-name {
    margin: 0 10px;
}

.list-games-container .game-card .scores {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 700;
}

/* /------------------------------------------------------ */

.games-container .main-games .return-button {
    width: 90px;
    height: 30px;
    background-color: rgb(25, 30, 45);
    color: white;
    position: fixed;
    right: 5px;
    top: 70px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.games-container .main-games .list-stats-card {
    width: 82%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    column-gap: 30px;
    row-gap: 30px;
}

.games-container .main-games .list-stats-card .stats-card {
    position: relative;
    background-color: rgb(25, 30, 45);
    color: white;
    font-weight: 300;
    border: 2px solid rgb(25, 30, 45);
    border-radius: 10px;
    box-shadow: 2px 2px 9px 1px #33373b;
    cursor: pointer;
}

.main-games .list-stats-card .stats-card img {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.05;
}

.main-games .list-stats-card .stats-card h3 {
    background-color: #c5d5e6;
    width: 80%;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 2px;
    margin-left: 20px;
    padding: 5px;
}

.main-games .list-stats-card .stats-card p {
    font-size: 15px;
    padding-left: 20px;

}

.main-games .list-stats-card .stats-card p span {
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
}