.navigation {
    background-color: rgb(25, 30, 45);
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
}

.navigation .logo {
    width: 100px;
    cursor: pointer;
}

.navigation-list {
    width: 100%;
    height: 400px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    transition: 0.5s;
}

.navigation-list li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.4s;
}

.navigation-list li:hover {
    background: linear-gradient(45deg, #c3ac81 0%, #a85117 45%, #c3ac81 100%);
    transform: scale(1.05);
}

.navigation-list li .icon {
    font-size: 26px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .navigation {
        width: 150px;
    }

    .navigation .logo {
        width: 90px;
    }

    .navigation .navigation-list li {
        font-size: 16px;
    }
}

@media screen and (max-width: 720px) {
    .navigation {
        display: none;
    }

}