#loader {
    width: 120px;
    height: 120px;
    border: 10px solid #a85117;
    border-top: 10px solid #c3ac81;
    border-radius: 50%;
    animation: animLoader 1s linear infinite;
    margin: auto;
    margin-left: 35vw;
}

@keyframes animLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }
}

@media screen and (max-width: 720px) {
    #loader {
        margin-left: 40vw;
    }
}

@media screen and (max-width: 500px) {
    #loader {
        margin-left: 35vw;
    }
}

@media screen and (max-width: 400px) {
    #loader {
        margin-left: 31vw;
    }
}