.after-game-card {
    background: linear-gradient(180deg, #eae8e8 0%, #b6b5b5 100%);
    min-width: 295px;
    max-width: 400px;
    height: 170px;
    border-radius: 7px;
    border: 1px solid #2667ac;
    transition: 0.1s;
    cursor: pointer;
}

.after-game-card:hover {
    transform: scale(1.02);
}

.after-game-card.winned {
    background: linear-gradient(180deg, #bef4c7 0%, #1c9d34 100%);
}

.after-game-card.losed {
    background: linear-gradient(180deg, #e6a4a4 0%, #dd3737 100%);

}

.after-game-card .date {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    margin-top: 5px;
}

.after-game-card .teams-infos-container {
    display: flex;
    align-items: center;
}

.after-game-card .teams-infos-container .team-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-game-card .teams-infos-container .team-infos .logo {
    width: 80px;
}

.after-game-card .teams-infos-container .team-infos .abbreviation-name {
    margin: 0 10px;
}

.after-game-card .scores {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 700;
}