.after-game-card {
    min-width: 300px;
    max-width: 400px;
    height: 170px;
    border: 1px solid #2667ac;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 7px 20px;
}

.after-game-card:hover {
    transform: scale(1.02);
    border: none;
    box-shadow: 0 3px 5px 2px rgb(90, 95, 111);
}

.after-game-card.winned {
    background: linear-gradient(180deg, #bef4c7 0%, #1c9d34 100%);
}

.after-game-card.losed {
    background: linear-gradient(180deg, #e6a4a4 0%, #dd3737 100%);
}

.after-game-card .date {
    font-size: 14px;
    text-align: center;
    margin: 5px 0;
    margin-top: 5px;
}

.after-game-card .teams-infos-container {
    display: flex;
    align-items: center;
}

.after-game-card .teams-infos-container .team-infos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-game-card .teams-infos-container .team-infos .logo {
    width: 70px;
}

.after-game-card .teams-infos-container .team-infos .abbreviation-name {
    margin: 0 10px;
}

.after-game-card .scores {
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    font-weight: 700;
}

@media screen and (max-width: 890px) {
    .after-game-card {
        max-width: none;
        width: 70%;
    }
}

@media screen and (max-width: 720px) {
    .after-game-card {
        width: 100%;
        height: 160px;
        min-width: 250px;
    }

    .after-game-card .teams-infos-container .team-infos .logo {
        width: 60px;
    }
}

@media screen and (max-width: 425px) {
    .after-game-card {
        height: 150px;
    }

    .after-game-card .date {
        font-size: 13px;
    }

    .after-game-card .teams-infos-container .team-infos .logo {
        width: 55px;
    }

    .after-game-card .teams-infos-container .team-infos .abbreviation-name {
        font-size: 17px;
    }

    .after-game-card .scores {
        font-size: 19px;
    }
}