button[name] {
    color: white;
    background: #175da8;
    border: none;
    margin: 0 10px;
    padding: 8px 25px;
    cursor: pointer;
    border-radius: 30px;
}

button:hover {
    background: transparent;
    background: rgb(25, 30, 45);
}