.stats-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.stats-container .table-teams-loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}